# Intermediate Python

In [21]:
# Import the course packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import the two datasets
gapminder = pd.read_csv("datasets/gapminder.csv")
brics_ = pd.read_csv("datasets/brics.csv")
brics = pd.read_csv("datasets/brics.csv",index_col=0)
print(brics_)
print(brics)

  country_ab       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98
                 country    capital    area  population
country_ab
BR                Brazil   Brasilia   8.516      200.40
RU                Russia     Moscow  17.100      143.50
IN                 India  New Delhi   3.286     1252.00
CH                 China    Beijing   9.597     1357.00
SA          South Africa   Pretoria   1.221       52.98

## Explore Datasets
Use the DataFrames imported in the first cell to explore the data and practice your skills!
- Create a loop that iterates through the `brics` DataFrame and prints "The population of {country} is {population} million!". 
- Create a histogram of the life expectancies for countries in Africa in the `gapminder` DataFrame. Make sure your plot has a title, axis labels, and has an appropriate number of bins.
- Simulate 10 rolls of two six-sided dice. If the two dice add up to 7 or 11, print "A win!". If the two dice add up to 2, 3, or 12, print "A loss!". If the two dice add up to any other number, print "Roll again!".

## panda
try to slice or index in pandas

In [6]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
x    1
y    7
z    2
dtype: int64

In [14]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index=row_labels

# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

# slice in pandas
1- square:
you can use `loc` or `iloc` to use slice the data!
simple square brackets work fine if you want to get columns; to get rows, you can use slicing. 


## what is series?
Series can only contain a single list with an index.
![image-2](image-2.png)
## what is DataFrame?
whereas Dataframe can be made of more than one series or we can say that a Dataframe is a **collection of series** that can be used to analyze the data.
we can use A dict to change the data type from seriese to DataFrame:
![image](image.png)

----------
To convert list or series To DataFrame, you should use dict and use the varibeles into "DATAFRAME". whenever you can add list by index it in your dataFrame.

In [4]:
# add DataFrame from series:
# Importing pandas library
import pandas as pd
# Creating Series
auth_series = pd.Series(['Jitender',
		'Purnima', 'Arpit', 'Jyoti'])
article_series = pd.Series([210, 211, 114, 178])
# Creating Dictionary
frame = {'Author': auth_series,
		'Article': article_series}
# Creating Dataframe
result = pd.DataFrame(frame)
# Creating another list
age = [21, 21, 24, 23]
# Creating new column in the dataframe by
# providing s Series created using list
result['Age'] = pd.Series(age)
# add another list about country
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
result["row_labelb"]=pd.Series(row_labels)
# Printing dataframe
print(result)

     Author  Article  Age row_labelb
0  Jitender      210   21         US
1   Purnima      211   21        AUS
2     Arpit      114   24        JPN
3     Jyoti      178   23         IN

In [23]:
import pandas as pd
article=pd.Series(["mohammed","sharaki","ahmed","mostafa"])
rank=pd.Series([10,20,30,40])
frame={"article":article,"rank":rank}
data=pd.DataFrame(frame)
print(data)
likes=[40,50,60,70]
data["likes"]=pd.Series(likes)
print(data)

    article  rank
0  mohammed    10
1   sharaki    20
2     ahmed    30
3   mostafa    40
    article  rank  likes
0  mohammed    10     40
1   sharaki    20     50
2     ahmed    30     60
3   mostafa    40     70

In [2]:
import pandas as pd
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index=row_labels

# Print cars again
cars[["country","drives_right"]]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [ ]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index=row_labels

# Print cars again
print(cars)

# what the different between loc and iloc
Pandas library of python is very useful for the manipulation of mathematical data and is widely used in the field of machine learning. It comprises many methods for its proper functioning. loc() and iloc() are one of those methods. These are used in slicing data from the Pandas DataFrame. They help in the convenient selection of data from the DataFrame in Python. They are used in filtering the data according to some conditions. 
The `loc` function in pandas is used to access rows and columns by label.
## loc
The loc() function is label based data selecting method which means that we have to **pass the name of the row or column** which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). Many operations can be performed using the loc() method like

## iloc
The iloc() function is an indexed-based selecting method which means that we have to **pass an integer index** in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc(). Operations performed using iloc() are:

In [30]:
# importing the module
import pandas as pd

# creating a sample dataframe
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
							'Mahindra', 'Maruti', 'Hyundai',
							'Renault', 'Tata', 'Maruti'],
					'Year': [2012, 2014, 2011, 2015, 2012,
							2016, 2014, 2018, 2019],
					'Kms Driven': [50000, 30000, 60000,
									25000, 10000, 46000,
									31000, 15000, 12000],
					'City': ['Gurgaon', 'Delhi', 'Mumbai',
							'Delhi', 'Mumbai', 'Delhi',
							'Mumbai', 'Chennai', 'Ghaziabad'],
					'Mileage': [28, 27, 25, 26, 28,
								29, 24, 21, 24]})
print(data)
# Print out drives_right column as Series
print(type(data.iloc[:, 4]))

# Print out drives_right column as DataFrame
print(type(data.iloc[:, [4]]))

# Print out cars_per_cap and drives_right as DataFrame
# print(data.loc[:, ['cars_per_cap', 'drives_right']])

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>